In [2]:
#Read the dataset
import pandas as pd 

#Visualization
import matplotlib.pyplot as plt

In [10]:
#Read the dataset
uber = pd.read_csv("/Users/aarohi221/Desktop/Business Analyst/Python-Projects-Uber-Trips-Analysis/Data/uber-raw-data-sep14.csv")

#first 10 records
uber.head(10)

          Date/Time      Lat      Lon    Base
0  9/1/2014 0:01:00  40.2201 -74.0021  B02512
1  9/1/2014 0:01:00  40.7500 -74.0027  B02512
2  9/1/2014 0:03:00  40.7559 -73.9864  B02512
3  9/1/2014 0:06:00  40.7450 -73.9889  B02512
4  9/1/2014 0:11:00  40.8145 -73.9444  B02512
5  9/1/2014 0:12:00  40.6735 -73.9918  B02512
6  9/1/2014 0:15:00  40.7471 -73.6472  B02512
7  9/1/2014 0:16:00  40.6613 -74.2691  B02512
8  9/1/2014 0:32:00  40.3745 -73.9999  B02512
9  9/1/2014 0:33:00  40.7633 -73.9773  B02512

In [5]:
#last 5 records
uber.tail(10)

                  Date/Time      Lat      Lon    Base
1028126  9/30/2014 22:56:00  40.7371 -74.0289  B02764
1028127  9/30/2014 22:56:00  40.6446 -73.7823  B02764
1028128  9/30/2014 22:56:00  40.7163 -73.9623  B02764
1028129  9/30/2014 22:57:00  40.6979 -73.9365  B02764
1028130  9/30/2014 22:57:00  40.7300 -73.9565  B02764
1028131  9/30/2014 22:57:00  40.7668 -73.9845  B02764
1028132  9/30/2014 22:57:00  40.6911 -74.1773  B02764
1028133  9/30/2014 22:58:00  40.8519 -73.9319  B02764
1028134  9/30/2014 22:58:00  40.7081 -74.0066  B02764
1028135  9/30/2014 22:58:00  40.7140 -73.9496  B02764

In [6]:
#shape of the dataset
uber.shape

(1028136, 4)

In [8]:
#Dataset properties
uber.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028136 entries, 0 to 1028135
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   Date/Time  1028136 non-null  object
 1   Lat        1028136 non-null  float64
 2   Lon        1028136 non-null  float64
 3   Base       1028136 non-null  object
dtypes: float64(2), object(2)
memory usage: 31.4+ MB

In [ ]:
uber['Date/Time']= pd.to_datetime(uber['Date/Time'])

uber["Day"] = uber["Date/Time"].apply(lambda x: x.day)
uber["Hour"] = uber["Date/Time"].apply(lambda x: x.hour)
uber["Weekday"] = uber["Date/Time"].apply(lambda x: x.weekday())
uber.head(5)

In [ ]:
fig,ax = plt.subplots(figsize = (12,6))
plt.hist(uber['Day'], width= 0.6, bins= 40, orientation = 'horizontal')
plt.title("Density of trips per Day", fontsize=16)
plt.xlabel("Day", fontsize=14)
plt.ylabel("Density of rides", fontsize=14)

In [ ]:
fig,ax = plt.subplots(figsize = (15,6))
plt.hist(uber['Weekday'], width= 0.6, range= (0, 6.5), bins=7, color= "green")
plt.title("Density of trips per Weekday", fontsize=16)
plt.xlabel("Weekday", fontsize=14)
plt.ylabel("Density of rides", fontsize=14)

In [ ]:
fig,ax = plt.subplots(figsize = (15,6))
plt.hist(uber.Hour, width= 0.6, bins=24, color= "orange")
plt.title("Density of trips per Hour", fontsize=16)
plt.xlabel("Hour", fontsize=14)
plt.ylabel("Density of rides", fontsize=14)

In [ ]:
fig,ax = plt.subplots(figsize = (15,6))
x=uber.Lon
y=uber.Lat
plt.scatter(x, y, color= "purple")
plt.title("Density of trips per Hour", fontsize=16)
plt.xlabel("Hour", fontsize=14)
plt.ylabel("Density of rides", fontsize=14)